mule/integraciones/src/main/app/util/zohoautenticacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:request-config name="httpZoho" protocol="HTTPS" host="invoice.zoho.com" port="443" basePath="/apiauthtoken/nb/create?SCOPE=ZohoInvoice/invoiceapi&amp;" doc:name="HTTP Request Configuration"/>
    <flow name="zohoAutenticacion" processingStrategy="synchronous">
        <json:json-to-object-transformer returnClass="java.util.HashMap" mimeType="application/java" doc:name="json to object - Autenticacion Zoho"/>
        <component class="zohoInvoice.GenerarCadenaZoho" doc:name="Java"/>
        <http:request config-ref="httpZoho" path="#[payload.toString()]" method="GET" doc:name="htttp zoho autentication"/>
    </flow>
</mule>
