mule/integraciones/target/classes/entidades/bd/database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://${db.ip}:${db.puerto}/tiendacomercio?user=${db.user}&amp;password=${db.password}" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <flow name="crearDB">
        <json:json-to-object-transformer returnClass="java.util.HashMap" mimeType="application/java" doc:name="JSON to Object"/>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO public.cliente(
	documento, tipodoc, nombre, apellido, "user", password, idcrm, idfacturacion)
	VALUES (#[payload.customer.identification.number], #[payload.customer.identification.type], #[payload.customer.personal.firstName], #[payload.customer.personal.lastName],
	 #[payload.customer.aplicacion.user], #[payload.customer.aplicacion.password], #[payload.idcrm], #[payload.idinvoice]);]]></db:parameterized-query>
        </db:insert>
        <set-payload value="{
                        &quot;code&quot;: &quot;200&quot;,
                        &quot;status&quot;: &quot;The contact has been added.&quot;,
                        &quot;response&quot;: {}
                        }" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
    <flow name="editDB">
        <json:json-to-object-transformer returnClass="java.util.HashMap" mimeType="application/java" doc:name="JSON to Object"/>
        <db:update config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[UPDATE public.cliente
	SET documento=#[payload.customer.identification.number], tipodoc=#[payload.customer.identification.type], nombre=#[payload.customer.personal.firstName], apellido=#[payload.customer.personal.lastName],
	 "user"=#[payload.customer.aplicacion.user], password=#[payload.customer.aplicacion.password], idcrm=#[payload.idcrm], idfacturacion=#[payload.idinvoice]
	WHERE documento=#[payload.customer.identification.number] AND tipodoc=#[payload.customer.identification.type];]]></db:parameterized-query>
        </db:update>
        <set-payload value="{
                        &quot;code&quot;: &quot;200&quot;,
                        &quot;status&quot;: &quot;The contact has been added.&quot;,
                        &quot;response&quot;: {}
                        }" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
    <flow name="findCustomer">
        <db:select config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT documento, tipodoc, nombre, apellido, "user", password, idcrm, idfacturacion
	FROM public.cliente
	 WHERE documento=#[message.inboundProperties.'http.query.params'.number] AND tipodoc=#[message.inboundProperties.'http.query.params'.type];]]></db:parameterized-query>
        </db:select>
        <dw:transform-message metadata:id="27188327-0a50-40f2-850a-3a411ab07704" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	code: "200",
    status: "The contact has been found.",
	response:{
	customer: {
		identification: {
			type: payload[0].tipodoc,
			number: payload[0].documento
		},
		aplicacion:{
    	
    	user:payload[0].user,
    	password:payload[0].password
    
    },
		personal: {
			firstName: payload[0].nombre,
			lastName: payload[0].apellido
		}
	},
	idcrm:payload[0].idcrm,
	idinvoice:payload[0].idfacturacion
}}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
