mule/integraciones/src/main/app/entidades/amazon/amazon_item_look_up.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="amazon_item_look_up">
        <set-variable variableName="idItem" value="#[message.inboundProperties['http.uri.params']['id']]" mimeType="application/java" doc:name="id item"/>
        <dw:transform-message doc:name="transformer a json para peticion">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	operation:p('amazon.operation.id'),
	item:flowVars.idItem
}]]></dw:set-payload>
        </dw:transform-message>
        <json:json-to-object-transformer returnClass="java.util.HashMap" mimeType="application/java" doc:name="json to object"/>
        <component class="amazon.Firmar" doc:name="firmar"/>
        <set-variable variableName="url" value="#[payload.url.toString()]" encoding="UTF-8" mimeType="application/java" doc:name="Url"/>
        <http:request config-ref="http_amazon" path="#[flowVars.url]" method="GET" doc:name="http amazon">
            <http:request-builder>
                <http:header headerName="${amazon.header}" value="${amazon.host}"/>

            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="c85aa24c-36e2-43d5-9982-bef7677dc62b" doc:name="response product">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://webservices.amazon.com/AWSECommerceService/2011-08-01
---
{
	code: '200',
	status: 'Ok',
	response: {
		product: {
			description: {
				id: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ASIN,
				name: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ItemAttributes.ns0#Label,
				brand: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ItemAttributes.ns0#Brand,
				title: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ItemAttributes.ns0#Title,
				description: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ItemAttributes.*ns0#Feature[0]
			},
			image: {
				small: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#SmallImage.ns0#URL as :string,
				medium: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#MediumImage.ns0#URL as :string,
				large: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#LargeImage.ns0#URL as :string
			},
			price: {
				coin: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ItemAttributes.ns0#ListPrice.ns0#CurrencyCode,
				price: payload.ns0#ItemLookupResponse.ns0#Items.ns0#Item.ns0#ItemAttributes.ns0#ListPrice.ns0#FormattedPrice
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
