mule/tiendacomerciotask/src/main/app/productofind.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="productofindFlow">
        <set-variable variableName="idItem" value="#[message.inboundProperties['http.uri.params']['id']]" mimeType="application/java" doc:name="id item"/>
        <http:request config-ref="defaultZoho" path="tienda/amazon/searchProduct/#[flowVars.idItem]" method="GET" host="104.155.149.197" port="8090" doc:name="RequestAmazon"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" encoding="ISO-8859-6" mimeType="application/java" doc:name="JSON to Object"/>
        <set-variable variableName="responseAmazon" value="#[payload]" mimeType="application/java" doc:name="responseAmazon"/>
        <http:request config-ref="defaultZoho" path="tienda/moneda/convertir" method="GET" host="localhost" port="8090" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="dolares" value="#[flowVars.responseAmazon.response.product.price.price]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="c24291ff-dfc6-438a-b8a6-f212617ac799" doc:name="Transform Message">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	code: '200',
	status: 'Ok',
	response: {
		product: {
			description: {
				id: flowVars.responseAmazon.response.product.description.id,
				name: flowVars.responseAmazon.response.product.description.name,
				brand: flowVars.responseAmazon.response.product.description.brand,
				title: flowVars.responseAmazon.response.product.description.title,
				description: flowVars.responseAmazon.response.product.description.description
			},
			image: {
				small: flowVars.responseAmazon.response.product.image.small,
				medium: flowVars.responseAmazon.response.product.image.medium,
				large: flowVars.responseAmazon.response.product.image.large
			},
			price: {
				coin: "COP",
				price: payload.valor
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
