mule/integraciones/target/classes/entidades/espocrm/espo_search_customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:request-config name="http_espo_crm" host="${espo.url}" port="${port.normal}"  doc:name="HTTP Request Configuration" responseTimeout="10000"/>
    <flow name="espo_search_customer">
        <set-variable variableName="idForSearch" value="#[message.inboundProperties['http.uri.params']['id']]" doc:name="Id For Search" mimeType="application/java"/>
        <dw:transform-message doc:name="json date crm">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	user:p('espo.user'),
	password:p('espo.password')
}]]></dw:set-payload>
        </dw:transform-message>
        <json:json-to-object-transformer returnClass="java.util.HashMap" mimeType="application/java" doc:name="map authorization"/>
        <component class="espocrm.EspoAuthozation" doc:name="Class For Authorization"/>
        <set-variable variableName="authorization" value="#[payload]" mimeType="application/java" doc:name="authorization"/>
        <validation:all doc:name="Validation">
            <validation:validations>
                <validation:is-not-empty value="#[flowVars.idForSearch]" message="${exception.idEmpty}"/>
            </validation:validations>
        </validation:all>
        <http:request config-ref="http_espo_crm" path="${espo.pathContact}/#[flowVars.idForSearch]" method="GET" doc:name="HTTP Espo Crm search by ID">
            <http:request-builder>
                <http:header headerName="${espo.header}" value="#[flowVars.authorization]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message metadata:id="2421ec2d-c917-4a55-b902-23443fed32b6" doc:name="response customer">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	code: 200,
	status: 'Ok',
	response: {
		customer: {
			personal: {
				firstName: payload.firstName,
				lastName: payload.lastName
			},
			social: {
				mail: payload.emailAddressData.emailAddress,
				cellNumber: payload.phoneNumberData.phoneNumber
			},
			localization: {
				country: payload.addressCountry,
				state: payload.addressState,
				city: payload.addressCity,
				addressStreet: payload.addressStreet
			}
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
